<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheming"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CreateBookReactActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MyReactActivity"
            android:exported="false" />
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity
            android:name=".BookDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ListBooksStudentIssueActivity" />
        <activity
            android:name=".BookDetailsModifyActivity"
            android:exported="false"
            android:parentActivityName=".ListBooksAdminActivity" />
        <activity
            android:name=".ListBooksStudentIssueActivity"
            android:exported="false"
            android:parentActivityName=".StudentStartActivity" />
        <activity
            android:name=".StudentStartActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".CreateBookActivity"
            android:exported="false"
            android:parentActivityName=".AdminStartActivity" />
        <activity
            android:name=".AdminStartActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ListBooksAdminActivity"
            android:exported="false"
            android:parentActivityName=".AdminStartActivity" />
        <activity
            android:name=".StartActivity"
            android:exported="false"
            android:parentActivityName=".RootActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RootActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>